<!-- {"vote_count"=>861,
    "id"=>424783,
    "video"=>false,
    "vote_average"=>6.5,
    "title"=>"Bumblebee",
    "popularity"=>477.898,
    "poster_path"=>"/fw02ONlDhrYjTSZV8XO6hhU3ds3.jpg",
    "original_language"=>"en",
    "original_title"=>"Bumblebee",
    "genre_ids"=>[28, 12, 878],
    "backdrop_path"=>"/hMANgfPHR1tRObNp2oPiOi9mMlz.jpg",
    "adult"=>false,
    "overview"=>
     "On the run in the year 1987, Bumblebee finds refuge in a junkyard in a small Californian beach town. Charlie, on the cusp of turning 18 and trying to find her place in the world, discovers Bumblebee, battle-scarred and broken.  When Charlie revives him, she quickly learns this is no ordinary yellow VW bug.",
    "release_date"=>"2018-12-15"} -->
<h2>The most popular movies</h2>
<div class="row">
  <% @info["results"].each do |movie| %>
    <div class="col">
      <p><%= movie["title"] %></p>
      <a href="/movies/<%= movie['id'] %>">
        <img class="image_size" src=<%= "https://image.tmdb.org/t/p/w500/#{movie["backdrop_path"]}" %> >
      </a>
    </div>
  <% end %>
</div>

<h2>The best movies from 2010</h2>
<div class="row">
  <% @bestmovie["results"].each do |movie| %>
    <div class="col">
      <% if movie["backdrop_path"].present? %>
        <p><%= movie["title"] %></p>
        <a href="/movies/<%= movie['id'] %>">
          <img class="image_size" src=<%= "https://image.tmdb.org/t/p/w500/#{movie["backdrop_path"]}" %> >
        </a>
      <% end %>
    </div>
  <% end %>
</div>

<h2>The best drama released in 2018</h2>
<div class="row">
  <% @bestdrama["results"].each do |movie| %>
    <div class="col">
      <% if movie["backdrop_path"].present? %>
        <p><%= movie["title"] %></p>
        <a href="/movies/<%= movie['id'] %>">
          <img class="image_size" src=<%= "https://image.tmdb.org/t/p/w500/#{movie["backdrop_path"]}" %> >
        </a>
      <% end %>
    </div>
  <% end %>
</div>

<h2>The most popular kids movies</h2>
<div class="row">
  <% @bestkidsmovie["results"].each do |movie| %>
    <div class="col">
      <% if movie["backdrop_path"].present? %>
        <p><%= movie["title"] %></p>
        <a href="/movies/<%= movie['id'] %>">
          <img class="image_size" src=<%= "https://image.tmdb.org/t/p/w500/#{movie["backdrop_path"]}" %> >
        </a>
      <% end %>
    </div>
  <% end %>
</div>
